:root {
  --black: rgb(31, 33, 36);
  --white: rgb(255, 255, 255);
  --green: rgb(22, 228, 151);
  --disabled-green: rgba(22, 228, 152, 0.6);
  --box-shadow: 0 0 10px 6px rgba(22, 228, 151, 0.3);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
*:focus {
  box-shadow: var(--box-shadow);
}
body {
  background-color: var(--black);
  color: var(--white);
  min-height: 100vh;
  text-align: center;
}
h1.heading {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
input {
  padding: 0.6rem 1rem;
  outline: none;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  max-width: 1000px;
  width: 100%;
  transition: all 0.3s ease;
}
input:hover {
  box-shadow: var(--box-shadow);
}
.transformed-box {
  width: 100%;
  max-width: 1000px;
  min-height: 40px;
  text-align: left;
  background-color: var(--green);
  color: var(--black);
  padding: 0.6rem 1rem;
  margin: 3rem auto;
  position: relative;
}
.transformed-box::before {
  content: var(--transform-type);
  text-transform: capitalize;
  position: absolute;
  top: -1.4rem;
  left: 0;
  background-color: var(--white);
  color: var(--black);
  padding: 0.3rem 0.5rem;
}
button {
  padding: 0.7rem 1.4rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  background-color: var(--green);
  /* border: 4px solid var(--green); */
  transition: all 0.3s ease;
  cursor: pointer;
}
button:hover {
  box-shadow: var(--box-shadow);
}
button:disabled {
  cursor: not-allowed;
  background-color: var(--disabled-green);
}
button:disabled:hover {
  box-shadow: none;
}

footer {
  margin-top: 1rem;
}
footer p {
  font-size: 1.1rem;
}
footer p a {
  color: var(--green);
}
